.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 30px;
    color: #000;

    &__logo {
        color: #000;
    }
}

.auth {
    color: #000;
}

@media (max-width: 750px) {
    .header {

        &__logo {
            font-size: 20px;
        }
    }
}

@media (max-width: 410px) {
    .header {

        &__logo {
            font-size: 16px;
        }
    }
}