.search {
    position: relative;
    &__input {
        width: 500px;
        max-width: 600px; 
        border-radius: 10px;
        border: 0;
        background-color: #eeeeee;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 300;
        font-family: inherit;
        transition: all .2s ease-in-out;
        position: relative;
        &:focus {
            outline: none;
            width: 600px;
        }

        
    }

    &__logo {
        position: absolute;
        right: 20px;
        top: 7px;
        width: 25px;
        height: 25px;
        
    }
}

@media (max-width: 750px) {
    .search {

        &__input {
            width: 300px;

            &:focus {
                outline: none;
                width: 400px;
            }
        }
    }
}

@media (max-width: 540px) {
    .search {

        &__input {
            width: 250px;
            font-size: 16px;
            &:focus {
                outline: none;
                width: 250px;
            }
        }

        &__logo {
            right: 20px;
            top: 10px;
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 410px) {
    .search {

        &__input {
            width: 200px;
            font-size: 16px;
            &:focus {
                outline: none;
                width: 200px;
            }
        }

        &__logo {
            right: 20px;
            top: 10px;
            width: 20px;
            height: 20px;
        }
    }
}